.canvas-container {
  position: relative;
}

.three-container {
  height: 800px;
  width: 100%;
  margin: 0px;
  padding: 0px;

  &.half-size {
    height: 500px;
  }
}

.no-padding {
  padding: 0px;
}