.fullscreen-menu {
  top: 70px;
}
.main-content {
  padding-top: 100px;
}

.navbar-hamb
.navbar-brand {
  height: 55px;
}
.logo {
  width: auto;
  height: 45px;
}

.menu-hamburger {
  color: #eade7a;

  > span {
    background: #eade7a;
  }
}

.logged-in-as {
  margin-right: 20px;
}