<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ "SkeletOn" }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">
    {% endblock %}
    {% block canonical_meta %}{% endblock %}
</head>
<body>
{% block menu %}
    {% include "::inc/menu.html.twig" %}
{% endblock %}
{% block header %}
    {% include "::inc/header.html.twig" %}
{% endblock %}
<div class="main-content">
    {% block container %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    {% endblock %}
</div>
{% block footer %}
{% include "::inc/footer.html.twig" %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
</body>
</html>