<div id="top-carousel" class="carousel slide fullscreen-carousel" data-ride="carousel"> <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item component active" data-bg="images/slide_1.jpg"
             style="background-image: url(&quot;images/slide_1.jpg&quot;);">
            <div class="container">
                <div class="row">
                    <div class="carousel-caption text-capitalize">
                        <h1><b>Simple &amp; fun</b> <br> <span>SkeletOn Game</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- Number of slides -->
</div> <!-- /.top slider -->