<div id="top-carousel" class="carousel slide fullscreen-carousel" data-ride="carousel"> <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item component active" data-bg="{{ asset('images/slides/slide_1.jpg') }}"
             style="background-image: url({{ asset('images/slides/slide_1.jpg') }});">
            <div class="container">
                <div class="row">
                    <div class="carousel-caption text-capitalize">
                        <h1><b>Simple &amp; fun</b> <br> <span>SkeletOn Game</span></h1>
                        <a href="{{ path('learnpage') }}" class="btn btn-main">Learn</a>
                        <a href="{{ path('gamepage') }}" class="btn btn-main">Test Your Knowledge</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>