{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block header %}
    {% embed ":inc:header.html.twig" %}
        {% block carousel %}
            {% include "AppBundle:Home:carousel.html.twig" %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}
    <div class="title">info text...</div>

    <div class="content">
        <a href="{{ path('learnpage') }}">Learn</a>
        <a href="{{ path('gamepage') }}">Game</a>
    </div>
{% endblock %}
