{% extends "::base.html.twig" %}

{% block title %}3D - {{ parent() }}{% endblock %}

{% block body %}
    <div id="preloader">
        <div id="preloader-ele" class="ball-scale-ripple-multiple">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="3D-container">

    </div>
{% endblock %}