<header>
    <nav class="navbar navbar-hamb">
        <div class="container">
            <a href="{{ path('homepage') }}" class="navbar-brand"></a>
            <button class="menu-hamburger pull-right"><span></span><span></span><span></span></button>
        </div>
    </nav>

    {% block carousel %}{% endblock %}
</header>